/* You can add global styles to this file, and also import other style files */
h1{
    color : #336699;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3{
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body{
    margin: 2em;
}

body, input[type="text"], button{
    color:#333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}